body {
   background: #000000;
   color: #000;
   border: 0px;
   margin: 0px;
   padding: 0px;
   font-family: "Open Sans", Arial, sans-serif;
}

h1 {
	font-weight: 200;
	color: white;
}

#content {
	border: 0px solid #000000;
	border-radius: 0px;
	/*display: inline-block;*/
	background-color: #000000;
	position:fixed;
	vertical-align:center;
	
}

#left-arrow {
  width: 26px;
  height: 109px;
  background-image: url(assets/left_arrow.png);
  position:fixed;
  left:0;
  top: 486px;
}

#right-arrow {
  width: 26px;
  height: 109px;
  background-image: url(assets/right_arrow.png);
  position:fixed;
  right:0;
  top: 486px;
}

#right-arrow:active{
  opacity:0.4;
  top: 488px;
}

#left-arrow:active{
  opacity:0.4;
  top: 488px;
}