body {
   background: #000000;
   color: #000;
   border: 0px;
   margin: 0px;
   padding: 0px;
   font-family: "Open Sans", Arial, sans-serif;
   align-self: center;
   -webkit-align-self: center;
   align-items: center;
   align-content:center;
   -webkit-align-items: center;
   display:flex;
}

h1 {
	font-weight: 200;
	color: white;
}

#content {
	height: 100%;
	width: 100%;
	align-self: center;
	align-items: center;
  align-content: center;
  -webkit-align-items: center;
  -webkit-align-self: center;
	border: 0px solid #000000;
	border-radius: 0px;
	/*display: inline-block;*/
	background-color: #000000;
	display:flex;
}