body {
  height:100%;
  width:100%;
  background-color:black;
  margin:auto;
}

h1 {
	font-weight: 200;
	color: white;
}

#content {

}

#left-arrow {
  width: 26px;
  height: 109px;
  top:50%;
  background-image: url(assets/left_arrow.png);
  position:fixed;
  left:0;
  transform: translate(0%, -50%);    
}

#right-arrow {
  width: 26px;
  height: 109px;
  top:50%;
  background-image: url(assets/right_arrow.png);
  position:fixed;
  right:0;
  transform: translate(0%, -50%);   
}

#right-arrow:active{
  opacity:0.4;
  top:51%;
}

#left-arrow:active{
  opacity:0.4;
  top:51%;
}

img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  display: block;
  margin: auto;
  height: auto;
  max-height: 100%;
  width: auto;
  max-width: 100%;
}
